footer {
    margin: 100px 0 40px;
    text-align: center;
    color: #00ffff;
    background-color: green;
}


.footer p {
    margin: 5px 0;
}


img {
    width: 200px;
    display: flex;
    margin:auto
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1rem;
    align-items: center;
  }
  
  input {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0;
    border-color: rgb(209 213 219);
    text-align: center  ;
  }

  header a {
    text-decoration: none;
    color: black;
  }
  header a:hover, 
  header a.active {
    color: blue;
    text-decoration: underline;
  }